{%extends 'base.html' %}
{% load static%}
{%block container%}


<link rel="stylesheet" href="{% static 'css/privacy.css' %}">

<div class= "container">
    
        <h1 class="head"> Privacy Policy Overview</h1>
        <div class="content1">
        <p>
            Snehalaya respects your privacy. We collect information to provide services to you and update you on the impact of your contributions. Snehalaya recognizes that we must maintain and use your information responsibly.
We collect information from you when you visit and take actions on our website. We use this information to provide the services you've requested. We may use cookies (such as Google Analytics) to provide a better experience and improve our website.
We will only use your information to keep you up to date with our work or answer your enquiries. We will not trade, share, or sell your personal data with anyone.
If you would like to read or have any questions about our Privacy Policy, please contact us at info@snehalaya.org.
        </p>
        </div>


        <h1 class="head">Privacy Policy in Full</h1>
        <div class="content2">
        <p>
            
Snehalaya respects your privacy. We collect information to provide services to you and update you on the impact of your contributions. Snehalaya recognizes that we must maintain and use your information responsibly.

​

We collect information from you when you visit and take actions on our website. We use this information to provide the services you've requested. We may use cookies (such as Google Analytics) to provide a better experience and improve our website.

​

We will only use your information to keep you up to date with our work or answer your enquiries. We will not trade, share, or sell your personal data with anyone.

 

If you would like to read or have any questions about our Privacy Policy, please contact us at info@snehalaya.org

        

<h4>What we collect</h4>

​

We only collect the personal information you voluntarily provide us via our website, email or face-to-face.

 

We collect information from you when you visit and take actions on our website. We use this information to provide the services you've requested.

​

    <h4>Cookies</h4>

​

We use cookies (such as Google Analytics) to provide a better experience and improve our website. If you wish to delete any cookies that are already on your computer, please refer to the instructions for your file management software to locate the file or directory that stores cookies. 

​

Information on deleting or controlling cookies is available at www.AboutCookies.org. Please note that by deleting our cookies or disabling future cookies you may not be able to access certain areas or features of our site.

​

<h4>How we use it</h4>

​

We will only use your information to keep you up to date with our work or answer and manage your enquiries. We will not trade, share, or sell your personal data with anyone.

When you submit a volunteer enquiry form we retain your information to allow us to contact you about relevant opportunities.

<h4>Security</h4>

​

We understand that your data is important and private, so we work hard to keep it secured. It is saved in password-protected databases and customer relationship management systems only available to authorized Snehalaya staff access to it for business use only.

​

            <h4>Online payments</h4>

 

All of our online payments are processed through trusted and established third party payment gateways which manage their own privacy policies. They only provide us with the information you have authorised them to and we only use this information to issue receipts for your donations and, where relevant and you have requested them, updates from the projects you are supporting

            <h4>Your rights</h4>

​

You have the right to request we remove you from our mailing lists. You can do this by unsubscribing to our mailing list via our website homepage, www.snehalaya.org or by emailing info@snehalaya.org.

​

You retain the right to have data corrected if it is wrong, to prevent users that are causing you damage or distress, or to stop marketing information from being sent to you.

​

You also have the right to request any information we hold about you. If you would like to request this please email info@snehalaya.org and we will provide the relevant information within one month.

​

            <h4>Data Protection Officer</h4>

​

Our CEO, Snehalaya UK has responsibility for our data protection compliance, email joyce@snehalaya.org.

</p>
</div>

<h1 class="head"> Terms & Conditions</h1>
<div class="content3">
    <p>
        The terms "We" / "Us" / "Our"/”Trust” individually and collectively refer to Snehalaya and the terms "Visitor” ”User” refer to the users.
 

        This page states the Terms and Conditions under which you (Visitor) may visit this website www.snehalaya.org. Please read this page carefully. If you do not accept the Terms and Conditions stated here, we would request you to exit this site. The organization, any of its divisions, and/or its subsidiaries and associate organizations (in India or abroad) reserve their respective rights to revise these Terms and Conditions at any time by updating this posting. You should visit this page periodically to re-appraise yourself of the Terms and Conditions because they are binding on all users of this Website.
        
        ​
        
        <h4>  USE OF CONTENT</h4>
        
         
        
        All logos, brands, marks headings, labels, names, signatures, numerals, shapes, or any combinations thereof, appearing in this site, except as otherwise noted, are properties either owned or used under license, by the organization and/or its associate entities who feature on this Website. The use of these properties or any other content on this site, except as provided in these Terms and Conditions or in the site content, is strictly prohibited.
        
         
        
        You may not sell or modify the content of this website or reproduce, display, publicly perform, distribute, or otherwise use the materials in any way for any public or commercial purpose without the respective organisation’s or entity’s written permission which you can request by emailing info@snehalaya.org
    
        ACCEPTABLE WEBSITE USE

 

        <h4>Security Rules</h4>

Visitors are prohibited from violating or attempting to violate the security of the website, including, without limitation,

 

Accessing data not intended for such user or logging into a server or account, which the user is not authorised to access,

Attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorisation,

Attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus or "Trojan horse" to the Website, overloading, "flooding", "mail bombing" or "crashing", or

Sending unsolicited electronic mail, including promotions and/or advertising of products or services. Violations of system or network security may result in civil or criminal liability. 

The organisation and/or its associate entities will have the right to investigate occurrences that they suspect as involving such violations and will have the right to involve and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.

​

        <h4>General Rules</h4>

Visitors may not use the Web Site in order to transmit, distribute, store or destroy material:

 

That could constitute or encourage conduct that would be considered a criminal offence or violate any applicable law or regulation,

In a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy or publicity of other personal rights of others, or

That is libellous, defamatory, pornographic, profane, obscene, threatening, abusive or hateful.

​

        <h4>INDEMNITY</h4>

 

The User unilaterally agrees to indemnify and hold harmless, without objection, the Company, its officers, directors, employees and agents from and against any claims, actions and/or demands and/or liabilities and/or losses and/or damages whatsoever arising from or resulting from their use of www.snehalaya.org or their breach of the terms.

​

        <h4>LIABILITY</h4>

 

User agrees that neither organisation nor its associates, secretary, officers or employees shall be liable for any direct/and indirect or/and incidental or/and special or/and consequential or/and exemplary damages, resulting from the use or/and the inability to use the service or/and for the cost of procurement of substitute goods or/and services or resulting from any goods or/and data or/and information or/and services purchased or/and obtained or/and messages received or/and transactions entered into through or/and from the service or/and resulting from unauthorised access to or/and alteration of user's transmissions or/and data or/and arising from any other matter relating to the service, including but not limited to, damages for loss of profits or/and use or/and data or other intangible, even if the organisation has been advised of the possibility of such damages.

 

User further agrees that Snehalaya shall not be liable for any damages arising from interruption, suspension or termination of service, including but not limited to direct or/and indirect or/and incidental or/and special consequential or/and exemplary damages, whether such interruption or/and suspension or/and termination was justified or not, negligent or intentional, inadvertent or advertent.

 

User agrees that Snehalaya shall not be responsible or liable to the user, or anyone, for the statements or conduct of any third party of the service. In sum, in no event shall trust's total liability to the User for all damages or/and losses or/and causes of action exceed the amount paid by the User to trust, if any, that is related to the cause of action.

​

        <h4>DISCLAIMER OF CONSEQUENTIAL DAMAGES</h4>

 

In no event shall Snehalaya or any parties, organisations or entities associated with the corporate brand name use or otherwise, mentioned at this website be liable for any damages whatsoever (including, without limitations, incidental and consequential damages, lost profits, or damage to computer hardware or loss of data information or business interruption) resulting from the use or inability to use the website and the website material, whether based on warranty, contract, tort, or any other legal theory, and whether or not, such organisation or entities were advised of the possibility of such damages.

​
        <h4>REFUND POLICY</h4>
​

As a charitable, non-profit organisation, Snehalaya is unable to refund donations after the donation is accepted.

​

No cash or refund of money will be allowed.

Once received the donation for a cause will not be refunded to the donor. No cancellation will be made.

Unless a specified donation purpose is selected at the time of donation, funds will be unrestricted and used to empower women and children as per our charitable purposes.
    </p>
    </div>

        



</div>
{%endblock container%}