.content1{
    height:100%;
    width:90%;
}

.head{
    margin-top: 50px;
    color: #64AEBD;
}
.content2{
    height: 100%;
    width: 50%;
}
.content3{
    height: 100%;
    width: 90%;
}