.col1{
margin-top: 2%;

h5{
    color: rgb(199, 151, 62);
}
p{
    color:black;
}
}


.col2{
    margin-top: 48%;
h5{
        color: rgb(199, 151, 62);
}    

}



.col3{
    margin-top: 2%;
h5{
        color: rgb(199, 151, 62);
}    

}

.col4{
    margin-top: 50%;
h5{
        color: rgb(199, 151, 62);
}   

}



